body {
  padding: 50px;
  font: 14px "Calibri", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#users {
  margin-bottom: 30px;
padding: 0%;
list-style:   none;
font-style:  italic;
}
.user {
  margin-bottom: 10px 0;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #03b40c;
}
